/*
To customize the look and feel of Ionic, you can override the variables
in ionic's _variables.scss file.

For example, you might change some of the default colors:

$light:                           #fff !default;
$stable:                          #f8f8f8 !default;
$positive:                        #387ef5 !default;
$calm:                            #11c1f3 !default;
$balanced:                        #33cd5f !default;
$energized:                       #ffc900 !default;
$assertive:                       #ef473a !default;
$royal:                           #886aea !default;
$dark:                            #444 !default;
*/



// The path for our ionicons font files, relative to the built CSS in www/css

@import url(https://fonts.googleapis.com/css?family=Patrick+Hand);

$ionicons-font-path: "../lib/ionic/fonts" !default;

$positive:                            #432C5B !default;


// Include all of Ionic
@import "www/lib/ionic/scss/ionic";
							
.main {
	background-color: #432C5B;
	.top {
		margin: 10px 0;
		text-align: center;

		h1 {
			font-size: 47px;
		}
	}

	.title {
		color: #FFF;
		font-family: 'Patrick Hand', cursive;
		text-transform: uppercase;
		font-weight: bold;
	}
	.list > .item {
		font-family: 'Patrick Hand', cursive;
	}
}
